<h1>{{toUpper titulo}}</h1>
<img src="/img/game.png" alt="game SkiFree" width="600" height="313">
<p>O clássico SkiFree, lançado originalmente em 1991 no Windows Entertainment Pack 3. 
    Desenvolvido por Chris Pirih, programador da Microsoft na época.</p>

<p>O objetivo do jogo é simples: usando o controle por setas,
     o usuário modifica o movimento horizontal do protagonista,
     sendo necessário evitar obstáculos e você pode acelerar usando a tecla "f".</p>
